<html>
<head>
    <title>Templates Action Range</title>
</head>
<body>
{{range $index, $element := .Hobbies}}
    <h1>{{$element}}</h1>
{{else}}
    <h1>Anda Tidak Punya Hobi</h1>
{{end}}
</body>
</html>